{% extends './layouts/base.twig' %}

{% block contents %}
  <div class="sheet">
    <h1>404 page not found</h1>
    <p>Please, check the URL you wrote.</p>
    <div class="sheet-error">
      <img src="{{ base_url() }}/assets/images/error/error.png" alt="Error">
    </div>
  </div>
{% endblock %}
