<div class="container">

</div>
<form method="post" action="./" style="display:none;">
    <input type="hidden" name="pokemon">
    <input type="hidden" name="positionX" value="{{ data.positionX }}">
    <input type="hidden" name="positionY" value="{{ data.positionY }}">
    <input type="submit" value="Submit">
</form>