<h1>{{ data.pokemonName }}</h1>

<img src="{{ base.url }}assets/images/pokemons/{{ data.pokemonNumber }}.png" alt="{{ data.pokemonName }}" draggable="false">

<span class="return" style="cursor:pointer;">Return</span>