<div class="rectangles {{ classRectangles }}">
    <div class="rectangle out left"></div>
    <div class="rectangle out bottom"></div>
    <div class="rectangle out right"></div>
    <div class="rectangle out top"></div>
    <div class="rectangle in left"></div>
    <div class="rectangle in bottom"></div>
    <div class="rectangle in right"></div>
</div>