@font-face {
  font-family: Pokemon_GB;
  font-style: normal;
  src: url("../assets/fonts/Pokemon_GB.ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  border-radius: 0;
  -webkit-padding-start: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em;
}
input[type=text],
input[type=reset],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=time],
input[type=week],
input[type=month],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=submit],
input[type=color],
input[type=file],
button,
textarea,
select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=color] {
  width: 1em;
}
input::-ms-clear {
  display: none;
}
details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
}
mark {
  background: none;
}
hr {
  height: 1px;
  margin: 0;
  padding: 0;
}
u {
  text-decoration: none;
}
table th {
  text-align: left;
}
a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
}
html body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container img {
  position: absolute;
}
.container img.left,
.container img.right {
  width: auto;
  height: 100%;
}
.container img.left {
  top: 0;
}
.container img.right {
  top: 0;
}
.container img.top,
.container img.bottom {
  width: 100%;
  height: auto;
}
.container img.top {
  left: 0;
}
.container img.bottom {
  left: 0;
}
.container img.map {
  left: 50%;
  top: 0;
  width: auto;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
.container img.crush {
  left: 0;
  top: 0;
  opacity: 0;
  will-change: transform, opacity;
  z-index: 3;
}
.container img.pokemon.unknown {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}
.container img.appearance {
  right: 0;
  bottom: 50%;
  width: 25%;
  height: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.container img.illustration {
  left: 0;
  bottom: 0;
  width: 50%;
  height: auto;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.container img.appearance,
.container img.illustration {
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
  will-change: transform;
}
.container img.appearance.active,
.container img.illustration.active {
  -webkit-transform: none;
          transform: none;
}
.container .character {
  position: absolute;
  overflow: hidden;
}
.container .character,
.container .sprite {
  will-change: transform;
  z-index: 4;
}
.container .rectangles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.container .rectangles .rectangle {
  position: absolute;
  background-color: #000;
  -webkit-transition: -webkit-transform linear 0.25s;
  transition: -webkit-transform linear 0.25s;
  transition: transform linear 0.25s;
  transition: transform linear 0.25s, -webkit-transform linear 0.25s;
}
.container .rectangles .rectangle.left.out,
.container .rectangles .rectangle.right.out {
  width: 25%;
  height: 100%;
}
.container .rectangles .rectangle.top.out {
  width: 50%;
  height: 25%;
}
.container .rectangles .rectangle.bottom.out {
  width: 100%;
  height: 25%;
}
.container .rectangles .rectangle.left.in,
.container .rectangles .rectangle.right.in {
  width: 25%;
  height: 50%;
}
.container .rectangles .rectangle.bottom.in {
  width: 50%;
  height: 25%;
}
.container .rectangles .rectangle.left.out {
  left: 0;
  top: 0;
}
.container .rectangles .rectangle.top.out {
  left: 25%;
  top: 0;
}
.container .rectangles .rectangle.bottom.out,
.container .rectangles .rectangle.right.out {
  right: 0;
  bottom: 0;
}
.container .rectangles .rectangle.left.in {
  left: 25%;
  top: 25%;
}
.container .rectangles .rectangle.bottom.in,
.container .rectangles .rectangle.right.in {
  right: 25%;
  bottom: 25%;
}
.container .rectangles .rectangle.left.out,
.container .rectangles .rectangle.left.in {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
.container .rectangles .rectangle.bottom.out,
.container .rectangles .rectangle.bottom.in {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.container .rectangles .rectangle.right.out,
.container .rectangles .rectangle.right.in {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
.container .rectangles .rectangle.top.out {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.container .rectangles .rectangle.left.out {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.container .rectangles .rectangle.bottom.out {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}
.container .rectangles .rectangle.right.out {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.container .rectangles .rectangle.top.out {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
.container .rectangles .rectangle.left.in {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.container .rectangles .rectangle.bottom.in {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.container .rectangles .rectangle.right.in {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.container .rectangles.active .rectangle {
  -webkit-transform: none !important;
          transform: none !important;
}
.container .rectangles.active .rectangle.left.out {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.container .rectangles.active .rectangle.bottom.out {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.container .rectangles.active .rectangle.right.out {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.container .rectangles.active .rectangle.top.out {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
.container .rectangles.active .rectangle.left.in {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.container .rectangles.active .rectangle.bottom.in {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}
.container .rectangles.active .rectangle.right.in {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.container.container-catch {
  background: url("../assets/images/map/background.png") no-repeat center center fixed;
  background-size: cover;
}
.container.container-catch h1 {
  display: inline-block;
  position: absolute;
  left: 1em;
  top: 1em;
  padding: 2.5em;
  background-color: #fff;
  color: #000;
  font-family: Pokemon_GB;
  border: 0.25em solid #000;
  -webkit-box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.25);
          box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.25);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
  will-change: transform;
}
.container.container-catch h1.active {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: none;
          transform: none;
}
